<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136540710018-nque3cok4u29329444efhm3bugef13n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136540710018-nque3cok4u29329444efhm3bugef13n5</string>
	<key>API_KEY</key>
	<string>AIzaSyAS6mqbpTPr0IhWgoMxNN76K7Tk7btbvrw</string>
	<key>GCM_SENDER_ID</key>
	<string>136540710018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>finalmp-aa3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>finalmp-aa3dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136540710018:ios:c804dad51ac3a92ddb409b</string>
</dict>
</plist>